@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
  font-family: 'Coco Gothic';
  src: url(../fonts/Coco\ Gothic.ttf);

  font-family: 'Creattion Demo';
  src: url(../fonts/Creattion\ Demo.ttf);

  font-family: 'Mono';
  src: url(../fonts/RobotoMono.ttf);

  font-family: 'Main';
  src: url(../fonts/AkayaTelivigala.ttf);
}

:root {

  --background: #eae7dc;

  --text: #272423;
  --accent: #8e8d8a;
  --link: #e85a4f;

  --header: #e85a4f;
  --header-background: #383734; 
  
}

html {
  padding: 0 auto;
  margin: 0 auto;

  overflow-x: hidden;

  background-color: var(--background);
  color: var(--text);

  font-family: 'Coco Gothic', 'Helvetica';
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover{
  color: var(--accent);
}

header {
  font-family: 'Creattion Demo';
  padding: 10px 16px;
  margin: -20px ;

  background-color: var(--header-background);
  color: var(--header);
  
  margin: -10px;
  width: 0 auto;

  display: flex;
  align-items: center;

}
h1{
  font-family: 'Creattion Demo' ;
  font-size: 50px;
}




nav {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: center;
}

.content {
  text-align: left;
  width: 400px;
}

main h3 {
  font-size: 2em;
  font-family: 'Main';
  font-weight: bolder;
}

main p, a{
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
main p{
  font-family: 'Main';
  font-size: 1.4em;
}

.social-links {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: right;
}

.social-links a{
  background-color: var(--accent);
  color: var(--background);

  border: solid 2px var(--accent);

  padding: 13px;
  margin: 10px;
}

.social-links a:hover{
  background-color: var(--background);
  color: var(--accent);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: transparent;
}

::-webkit-scrollbar-thumb:hover {
background: transparent;
}