@font-face {
  font-family: 'Coco Gothic';
  src: url(../fonts/Coco\ Gothic.ttf);

  font-family: 'Creation';
  src: url(../fonts/Creattion.otf);
}

:root {

  --background: rgb(10, 31, 54);
  --text: #FFFFFA;
  --accent: rgb(255, 0, 255);
  --link: #fa5eff;

  --header: #FFFFFA;
  --header-background: rgb(1, 80, 104); 
  
}

html {
  padding: 0 auto;
  margin: 0 auto;

  overflow-x: hidden;

  background-color: var(--background);
  color: var(--text);

  font-family: 'Coco Gothic', 'Helvetica';
}

a {
  text-decoration: none;
  color: var(--link)
}

a:hover{
  color: var(--accent);
}

header {
  font-family: 'Creation';
  padding: 10px 16px;
  margin: -20px ;

  background-color: var(--header-background);
  color: var(--header);
  
  margin: -10px;
  width: 0 auto;

  display: flex;
  align-items: center;

}

header h1 {
  padding: 15px;
}

nav {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a{
  padding: 2em;
}

nav span{
  color: var(--text);
  opacity: 69%;
}

.content {
  text-align: left;
  width: 400px;
}

main h3 {
  font-size: 2em;
  font-weight: bolder;
}

main p{
  font-size: 1em;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: transparent;
}

::-webkit-scrollbar-thumb:hover {
background: transparent;
}