@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@font-face {
  font-family: 'Coco Gothic';
  src: url(../fonts/Coco\ Gothic.ttf);

  font-family: 'Creattion Demo';
  src: url(../fonts/Creattion\ Demo.ttf);

  font-family: 'Mono';
  src: url(../fonts/RobotoMono.ttf);

  font-family: 'Main';
  src: url(../fonts/AkayaTelivigala.ttf);

  font-family: 'rubik';
  src: url(../fonts/Rubik-VariableFont_wght.ttf);

  
}

:root {

  --background: #eb7e25;

  --text: #000000;
  --accent: #000000fb;
  --link: #07393c;

  --header: #021718;
  --header-background: #FFFFFA; 
  
}

html {
  padding: 0 auto;
  margin: 0 auto;

  overflow-x: hidden;

  background-color: var(--background);
  color: var(--text);

  font-family: 'Coco Gothic', 'Helvetica';
}

a {
  font-family: 'rubik';
  text-decoration: none;
  color: var(--link);
}

a:hover{
  color: var(--accent);
}

header {
  font-family: 'Creattion Demo';
  padding: 10px 16px;
  margin: -20px ;

  background-color: var(--header-background);
  color: var(--header);
  
  margin: -10px;
  width: 0 auto;

  display: flex;
  align-items: center;

}
h1{
  font-family: 'Creattion Demo' ;
  font-size: 50px;
}

nav {
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: center;
}

.content {
  text-align: left;
  width: 400px;
}
main h4
{
  justify-content: right;
  align-items: right;


}

main h3 {
  font-size: 2em;
  font-family: 'Main';
  font-weight: bolder;
}

main p, a{
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;

}
img:hover{
  transform: rotate(-6deg);
  transition: 300ms;
}
div{
  background-color: rgb(62, 134, 128);
  width: 80%;
  height: auto;
}
div:hover{
  transform: rotate(+3deg);
  transition: 300ms;
}

main p{
  font-family: 'Main';
  font-size: 1.4em;
}
main h5{
  width: 40%;
  height: auto;
}
main h5:hover{
  transform: rotate(+3deg);
  
  transition: 300ms;

}
  

.social-links {
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: right;
}

.social-links a{
  
  color: var(--background);

  

  padding: 13px;
  margin: 10px;
}

.social-links a:hover{
  background-color: var(--background);
  
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: transparent;
}

::-webkit-scrollbar-thumb:hover {
background: transparent;
}